<main class="main-content mt-12 mb-40">
  <%= tag.h1 @business.name, class: "text-5xl mb-8" %>

  <ul class="text-3xl leading-loose">
    <% @menus.each do |menu| %>
      <li>
        <%= link_to public_menu_path(menu), class: "flex items-center justify-between" do %>
          <%= menu.name %>
          <span>&#10095;</span>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= tag.p t('.no_menus'), class: "text-xl" if @menus.empty? %>
</main>
