<% if Can.create_menu_section?(menu) %>
  <%= button_to private_menu_sections_path,
                class: "add-button",
                params: { menu_section: { menu_id: menu.id, position: position } } do %>
    <span class="material-symbols-sharp">add</span>
    New section
  <% end %>
<% else %>
  <%= tag.div class: "inline-block",
              data: {
                controller: :tippy,
                tippy_allow_html_value: true,
                tippy_interactive_value: true,
                tippy_placement_value: :bottom,
                tippy_content_value: link_to("Upgrade to add more sections",
                                             private_stripe_checkout_session_path,
                                             data: { turbo_frame: :_top }),
              } do %>
    <%= button_to private_menu_sections_path,
                  class: "add-button",
                  disabled: true do %>
      <span class="material-symbols-sharp">add</span>
      New section
    <% end %>
  <% end %>
<% end %>
