<% if !menu.subscribed? && menu.menu_items.count > 9 %>
  <div class="py-4 bg-red-100">
    <div class="main-content">
      <div class="flex gap-2">
        <p>
        <span class="material-symbols-sharp flex-shrink">warning</span>
        </p>
        <div>
          <p class="text-pretty">
            You've reached the free tier's limit.
            Unlock <strong>1,000 items</strong>
            and <strong>10 menus</strong>.
          </p>
          <div class="flex gap-4 justify-end mt-2">
            <%= link_to "Subscribe",
                        private_stripe_checkout_session_path(lookup_key: "standard_yearly"),
                        class: "button text-red-900",
                        data: { turbo: false } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
