<%= render "banner",
            title: t('private.menus.subscription.title'),
            icon: "error",
            container_class: "bg-red-100 fixed left-0 bottom-0 z-10 w-full",
            button_class: "text-red-600" do %>
  <div class="flex flex-col items-end">
    <%= link_to t('private.menus.subscription.monthly_plan'),
                private_stripe_checkout_session_path(lookup_key: :standard_monthly),
                data: { turbo: false } %>
    <%= link_to t('private.menus.subscription.yearly_plan'),
                private_stripe_checkout_session_path(lookup_key: :standard_yearly),
                data: { turbo: false } %>
  </div>
<% end %>
