<h1>
  <%= current_user.business.name %> Menus
</h1>

<%= link_to "New menu", [:new, :private, :menu] %>

<ul id="menus">
  <% @menus.each do |menu| %>
    <li><%= link_to menu.name, [:private, menu] %></li>
  <% end %>
</ul>
