<div>
  <div class="sortable-handle" title="Drag menu section">↕</div>

  <%= form_with \
        model: menu_section,
        url: [:private, menu_section],
        data: {
          controller: 'menu-item-form',
          action: 'input->menu-item-form#input keypress.enter->menu-item-form#keypressEnter:prevent',
        } do |form| %>

    <%= form.text_field \
          :name,
          autocomplete: :off,
          placeholder: :name,
          enterkeyhint: :next,
          class: class_names(error: form.object.errors.has_key?(:name)),
          style: "font-size: 1.5em" %>
  <% end %>

  <% if menu_section.persisted? %>
    <%= button_to 'Remove', private_menu_section_path(menu_section), method: :delete, data: { turbo_confirm: "Remove the \"#{menu_section.name}\" section and ALL its items? This is irreversible." } %>
    <%= button_to "Add item", private_menu_items_path(menu_item: { menu_section_id: menu_section.id, position: 1 }), data: { turbo_frame: :list } %>
  <% end %>

  <br/>
  <br/>
</div>
