<div class="toolbar">
  <div class="toolbar__item toolbar__item--handle">
    <span class="material-symbols-sharp">menu</span>
  </div>

  <%= button_to \
        private_menu_section_path(menu_section),
        method: :delete,
        title: "Delete",
        class: "toolbar__item text-red-500",
        data: {
          turbo_confirm: "Remove the #{menu_section.name || "empty"} section permanently? Items under this section will also be removed."
        } do %>
    <span class="material-symbols-sharp">close</span>
  <% end %>
</div>
