<div class="main-content">
  <h1 class="text-5xl my-8">Menuuu</h1>

  <p class="text-xl my-6">
    Need help? Send us an email at
    <a href="mailto:themenuu@gmail.com" class="underline">themenuuu@gmail.com</a>
  </p>

  <p>
    <%= link_to "Go back", home_path, onclick: "window.history.back()" %>
</div>
