---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1PD98DCuBTi6G1R5DaH8Txn3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer rk_test_51EQFIRCuBTi6G1R5qN2MA3kTvAgDDdcv9gltDN8YwvrtlI7sg1KOCCK3YyZSPiEtcEiv7QBt7KK79UOtag4YRFOs00WysXq084
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "evt_1PD98DCuBTi6G1R5DaH8Txn3",
          "object": "event",
          "api_version": "2019-03-14",
          "created": 1714931149,
          "data": {
            "object": {
              "id": "sub_1PD96FCuBTi6G1R5PPed5zm0",
              "object": "subscription",
              "application": null,
              "application_fee_percent": null,
              "automatic_tax": {
                "enabled": false,
                "liability": null
              },
              "billing": "charge_automatically",
              "billing_cycle_anchor": 1714931027,
              "billing_cycle_anchor_config": null,
              "billing_thresholds": null,
              "cancel_at": null,
              "cancel_at_period_end": false,
              "canceled_at": 1746553440,
              "cancellation_details": {
                "comment": null,
                "feedback": null,
                "reason": "cancellation_requested"
              },
              "collection_method": "charge_automatically",
              "created": 1714931027,
              "currency": "brl",
              "current_period_end": 1778003027,
              "current_period_start": 1746467027,
              "customer": "cus_Q3Fbdb5Xd7V7c8",
              "days_until_due": null,
              "default_payment_method": "pm_1PD96ECuBTi6G1R5syTUUUHY",
              "default_source": null,
              "default_tax_rates": [],
              "description": null,
              "discount": null,
              "discounts": [],
              "ended_at": 1746553440,
              "invoice_customer_balance_settings": {
                "consume_applied_balance_on_void": true
              },
              "invoice_settings": {
                "account_tax_ids": null,
                "issuer": {
                  "type": "self"
                }
              },
              "items": {
                "object": "list",
                "data": [
                  {
                    "id": "si_Q3FbcIaFcMbzLg",
                    "object": "subscription_item",
                    "billing_thresholds": null,
                    "created": 1714931028,
                    "discounts": [],
                    "metadata": {},
                    "plan": {
                      "id": "price_1PAd3MCuBTi6G1R5fnmqNCd0",
                      "object": "plan",
                      "active": true,
                      "aggregate_usage": null,
                      "amount": 9990,
                      "amount_decimal": "9990",
                      "billing_scheme": "per_unit",
                      "created": 1714331184,
                      "currency": "brl",
                      "interval": "year",
                      "interval_count": 1,
                      "livemode": false,
                      "metadata": {},
                      "meter": null,
                      "nickname": null,
                      "product": "prod_Q0eMr4y5fe2S1t",
                      "tiers": null,
                      "tiers_mode": null,
                      "transform_usage": null,
                      "trial_period_days": null,
                      "usage_type": "licensed"
                    },
                    "price": {
                      "id": "price_1PAd3MCuBTi6G1R5fnmqNCd0",
                      "object": "price",
                      "active": true,
                      "billing_scheme": "per_unit",
                      "created": 1714331184,
                      "currency": "brl",
                      "custom_unit_amount": null,
                      "livemode": false,
                      "lookup_key": "standard_yearly",
                      "metadata": {},
                      "nickname": null,
                      "product": "prod_Q0eMr4y5fe2S1t",
                      "recurring": {
                        "aggregate_usage": null,
                        "interval": "year",
                        "interval_count": 1,
                        "meter": null,
                        "trial_period_days": null,
                        "usage_type": "licensed"
                      },
                      "tax_behavior": "unspecified",
                      "tiers_mode": null,
                      "transform_quantity": null,
                      "type": "recurring",
                      "unit_amount": 9990,
                      "unit_amount_decimal": "9990"
                    },
                    "quantity": 1,
                    "subscription": "sub_1PD96FCuBTi6G1R5PPed5zm0",
                    "tax_rates": []
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/subscription_items?subscription=sub_1PD96FCuBTi6G1R5PPed5zm0"
              },
              "latest_invoice": "in_1PD97HCuBTi6G1R5ZIcWhfIY",
              "livemode": false,
              "metadata": {},
              "next_pending_invoice_item_invoice": null,
              "on_behalf_of": null,
              "pause_collection": null,
              "payment_settings": {
                "payment_method_options": {
                  "acss_debit": null,
                  "bancontact": null,
                  "card": {
                    "network": null,
                    "request_three_d_secure": "automatic"
                  },
                  "customer_balance": null,
                  "konbini": null,
                  "sepa_debit": null,
                  "us_bank_account": null
                },
                "payment_method_types": null,
                "save_default_payment_method": "off"
              },
              "pending_invoice_item_interval": null,
              "pending_setup_intent": null,
              "pending_update": null,
              "plan": {
                "id": "price_1PAd3MCuBTi6G1R5fnmqNCd0",
                "object": "plan",
                "active": true,
                "aggregate_usage": null,
                "amount": 9990,
                "amount_decimal": "9990",
                "billing_scheme": "per_unit",
                "created": 1714331184,
                "currency": "brl",
                "interval": "year",
                "interval_count": 1,
                "livemode": false,
                "metadata": {},
                "meter": null,
                "nickname": null,
                "product": "prod_Q0eMr4y5fe2S1t",
                "tiers": null,
                "tiers_mode": null,
                "transform_usage": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "quantity": 1,
              "schedule": null,
              "start": 1714931027,
              "start_date": 1714931027,
              "status": "canceled",
              "tax_percent": null,
              "test_clock": "clock_1PD97CCuBTi6G1R5J60RnI9c",
              "transfer_data": null,
              "trial_end": null,
              "trial_settings": {
                "end_behavior": {
                  "missing_payment_method": "create_invoice"
                }
              },
              "trial_start": null
            }
          },
          "livemode": false,
          "pending_webhooks": 1,
          "request": {
            "id": "req_VAHtYkyNo7E7Ja",
            "idempotency_key": null
          },
          "type": "customer.subscription.deleted"
        }
  recorded_at: Sun, 05 May 2024 17:57:11 GMT
recorded_with: VCR 6.2.0
