---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1PD96KCuBTi6G1R5YDlGXwLo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer rk_test_51EQFIRCuBTi6G1R5qN2MA3kTvAgDDdcv9gltDN8YwvrtlI7sg1KOCCK3YyZSPiEtcEiv7QBt7KK79UOtag4YRFOs00WysXq084
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2024-04-10'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2024-04-10'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "evt_1PD96KCuBTi6G1R5YDlGXwLo",
          "object": "event",
          "api_version": "2019-03-14",
          "created": 1714931032,
          "data": {
            "object": {
              "id": "cs_test_a1D0G8mQMHybRONDbHrDADZwSs0WCXbfY4yqmYgFvOvKvdMVXvi1zCATrZ",
              "object": "checkout.session",
              "after_expiration": null,
              "allow_promotion_codes": null,
              "amount_subtotal": 9990,
              "amount_total": 9990,
              "automatic_tax": {
                "enabled": false,
                "liability": null,
                "status": null
              },
              "billing_address_collection": null,
              "cancel_url": "http://localhost:3000/private/stripe_checkout_cancel",
              "client_reference_id": "1",
              "client_secret": null,
              "consent": null,
              "consent_collection": null,
              "created": 1714931014,
              "currency": "brl",
              "currency_conversion": null,
              "custom_fields": [],
              "custom_text": {
                "after_submit": null,
                "shipping_address": null,
                "submit": null,
                "terms_of_service_acceptance": null
              },
              "customer": "cus_Q3Fbdb5Xd7V7c8",
              "customer_creation": "always",
              "customer_details": {
                "address": {
                  "city": null,
                  "country": "BR",
                  "line1": null,
                  "line2": null,
                  "postal_code": null,
                  "state": null
                },
                "email": "joaomarcelo9393@gmail.com",
                "name": "John Smith",
                "phone": null,
                "tax_exempt": "none",
                "tax_ids": []
              },
              "customer_email": null,
              "expires_at": 1715017414,
              "invoice": "in_1PD96FCuBTi6G1R5fhi7Jhul",
              "invoice_creation": null,
              "livemode": false,
              "locale": null,
              "metadata": {},
              "mode": "subscription",
              "payment_intent": null,
              "payment_link": null,
              "payment_method_collection": "always",
              "payment_method_configuration_details": null,
              "payment_method_options": {
                "card": {
                  "request_three_d_secure": "automatic"
                }
              },
              "payment_method_types": [
                "card"
              ],
              "payment_status": "paid",
              "phone_number_collection": {
                "enabled": false
              },
              "recovered_from": null,
              "saved_payment_method_options": {
                "allow_redisplay_filters": [
                  "always"
                ],
                "payment_method_save": null
              },
              "setup_intent": null,
              "shipping": null,
              "shipping_address_collection": null,
              "shipping_options": [],
              "shipping_rate": null,
              "status": "complete",
              "submit_type": null,
              "subscription": "sub_1PD96FCuBTi6G1R5PPed5zm0",
              "success_url": "http://localhost:3000/private/stripe_checkout_success",
              "total_details": {
                "amount_discount": 0,
                "amount_shipping": 0,
                "amount_tax": 0
              },
              "ui_mode": "hosted",
              "url": null
            }
          },
          "livemode": false,
          "pending_webhooks": 1,
          "request": {
            "id": null,
            "idempotency_key": null
          },
          "type": "checkout.session.completed"
        }
  recorded_at: Sun, 05 May 2024 17:57:11 GMT
recorded_with: VCR 6.2.0
