<h1>
  <%= @menu.name %>
</h1>

<ul>
  <% @menu.publicly_visible_menu_items.each do |menu_item| %>
    <li>
      <%= menu_item.name %> - <%= number_to_currency(menu_item.price) %>
    </li>
  <% end %>
</ul>
