<main class="main-content">

  <h1 class="text-5xl my-8">
    <%= @menu.name %>
  </h1>

  <% @menu.publicly_visible_menu_sections.order(:position).each do |menu_section| %>
    <section>
      <h2 class="text-3xl">
        <%= menu_section.name %>
      </h2>

      <ul class="mb-6">
        <% menu_section.publicly_visible_menu_items.order(:position).each do |menu_item| %>
          <li class="flex justify-between">
            <div class="text-xl">
              <%= menu_item.name %>
            </div>

            <% if menu_item.price.present? %>
              <%= number_to_currency(menu_item.price) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
</div>
