<div>
  <%= form.text_field \
        :name,
        autofocus: form.object.previously_new_record?,
        autocomplete: :off,
        placeholder: :name,
        enterkeyhint: :next,
        class: class_names(error: form.object.errors.has_key?(:name)),
        data: { menu_item_edit_form_target: 'nameInput' } %>
</div>

<div>
  <%= form.text_field \
        :price,
        autocomplete: :off,
        placeholder: :price,
        enterkeyhint: :next,
        inputmode: :decimal,
        value: number_to_currency(form.object.price, unit: ''),
        class: class_names(error: form.object.errors.has_key?(:price)) %>
</div>
