<div class="bg-black dark:bg-white rounded-phone rounded-tr-phone-lg rounded-bl-phone-lg p-1 pr-6 pb-6 -skew-y-3">
  <div class="bg-white dark:bg-black rounded-phone h-phone w-phone py-3 flex flex-col gap-3 items-center justify-between">
    <div class="bg-black rounded-full w-24 h-8"></div>
    <div class="flex-1 w-full overflow-auto scrollbar-none">
      <%= yield %>
    </div>
    <div class="bg-black rounded-full w-32 h-2"></div>
  </div>
</div>
