@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Bebas Neue', sans-serif
  }

  turbo-frame {
    @apply block
  }

  .main-content {
    @apply max-w-80 mx-auto px-4
  }

  /* See app/javascript/controllers/menu_item_form_controller.js */
  .hack-mobile-safari-focus {
    @apply fixed opacity-0 h-0 text-base
  }

  .material-symbols-sharp {
    @apply text-inherit align-middle
  }

  a, button {
    @apply transition-opacity hover:opacity-80
  }
}

@layer components {
  .navigation {
    @apply sticky top-0 z-10 bg-black text-white px-4 py-2 mb-4;
  }

  .navigation__bar {
    @apply flex justify-between items-center
  }

  .navigation__menu {
    @apply flex flex-col items-end transition-all overflow-hidden gap-2 max-h-0;
  }

  .navigation__menu--expanded {
    @apply max-h-40 py-4
  }

  .notices {
    @apply flex justify-between items-center bg-yellow-500 px-4 py-2 gap-4;
  }

  .group\/actions {
    @apply relative
  }

  .actions {
    @apply invisible group-focus-within/actions:visible absolute flex z-10 top-0 -right-8 justify-between;
    /*
    iPhone fix:
    If the action bar changes visibility immediately, it won't register clicks on action bar buttons.
    I think that's because the button hides before the touch event is detected.
    To workaround that issue, delay hiding by 1ms.
    */
    transition: visibility 1ms
  }

  .actions .material-symbols-sharp {
    @apply text-xl;
  }

  .add-button {
    @apply block mr-0 ml-auto text-xl transition-opacity opacity-20 hover:opacity-100 focus:opacity-100 focus:outline-none;
  }

  .lite-input {
    @apply bg-none border-0 m-0 p-0 max-w-full focus:ring-0 placeholder:text-black placeholder:opacity-20;
  }
  .lite-input::-webkit-outer-spin-button,
  .lite-input::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }
  .lite-input[type=number] {
    appearance: textfield;
  }

  .saving-indicator {
    @apply absolute bottom-4 right-4 text-green-500 text-3xl rounded-full bg-white hidden;
  }

  [aria-busy] .saving-indicator {
    @apply block;
  }
}
