@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply font-sans antialiased
  }

  turbo-frame {
    @apply block
  }

  .main-content {
    @apply w-[calc(100%-6rem)] max-w-96 mx-auto
  }

  /* See app/javascript/controllers/menu_item_form_controller.js */
  .hack-mobile-safari-focus {
    @apply fixed opacity-0 h-0 text-base
  }

  .material-symbols-sharp {
    @apply text-inherit align-middle
  }

  a, button {
    @apply transition-opacity hover:opacity-80 disabled:opacity-100 disabled:cursor-not-allowed
  }

  body.devise {
    @apply dark:bg-black dark:text-white
  }

  body.devise h1 {
    @apply text-5xl
  }

  body.devise h2 {
    @apply text-3xl
  }

  body.devise a {
    @apply leading-loose
  }

  body.devise form {
    @apply my-8
  }

  body.devise #error_explanation {
    @apply bg-red-100 p-4 dark:text-black
  }

  body.devise .field_with_errors {
    @apply inline
  }

  body.devise #error_explanation h2 {
    @apply text-base font-bold
  }

  body.devise form .field {
    @apply my-4
  }

  body.devise form .actions {
    @apply leading-loose
  }

  body.devise input[type=email],
  body.devise input[type=password] {
    @apply w-full dark:bg-black
  }

  body.devise input[type=checkbox] {
    @apply bg-black;
  }

  .scrollbar-none::-webkit-scrollbar {
    @apply hidden
  }

  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

@layer components {
  .navigation {
    @apply sticky top-0 z-20 bg-black dark:border-b dark:border-neutral-900 text-white text-xl;
  }

  .navigation__bar {
    @apply flex justify-between items-center py-2 h-navigation;
  }

  .navigation__menu {
    @apply flex flex-col items-end transition-all overflow-hidden gap-2 max-h-0;
  }

  .navigation__menu--expanded {
    @apply max-h-48 pb-4
  }

  .notices {
    @apply flex justify-between items-start py-2 gap-2;
  }

  .group\/toolbar {
    @apply relative
  }

  .toolbar {
    @apply invisible group-focus-within/toolbar:visible absolute top-0 left-0 right-0 flex justify-between items-center -mx-12;
    /*
    iPhone fix:
    If the action bar changes visibility immediately, it won't register clicks on action bar buttons.
    I think that's because the button hides before the touch event is detected.
    To workaround that issue, delay hiding by 1ms.
    */
    transition: visibility 1ms
  }

  .toolbar__item {
    @apply text-xl w-12 text-center;
  }

  .toolbar__item--handle {
    @apply cursor-grab
  }

  .sortable-chosen > .group\/toolbar > .toolbar {
    @apply visible
  }

  .sortable-chosen > .group\/toolbar > .toolbar .toolbar__item {
    @apply invisible
  }

  .sortable-chosen > .group\/toolbar > .toolbar .toolbar__item.toolbar__item--handle {
    @apply visible cursor-grabbing
  }

  .menu-section-actions {
    @apply flex justify-between gap-4;
  }

  .sortable-chosen .menu-section-actions {
    @apply invisible
  }

  .add-button {
    @apply text-xl transition-opacity opacity-30 disabled:opacity-30 focus:outline-none dark:text-white;
  }

  .lite-input {
    @apply bg-transparent border-0 m-0 p-0 max-w-full focus:ring-0 placeholder:text-black dark:placeholder:text-white placeholder:opacity-30;
  }
  .lite-input::-webkit-outer-spin-button,
  .lite-input::-webkit-inner-spin-button {
    @apply appearance-none m-0;
  }
  .lite-input[type=number] {
    appearance: textfield;
  }

  .saving {
    @apply fixed top-2 right-4 text-green-500 text-xl z-10 invisible transition-visibility delay-500;
  }

  [aria-busy] .saving {
    @apply visible animate-pulse;
  }
}
