.menu
  width: 320px
  margin: 0 auto
  padding: 1em

.menu__name
  font-size: 3em
  width: 100%

.menu__section

.menu__item

.menu-section

.menu-section__name
  font-size: 2.25em
  width: 100%

.action-bar
  display: flex
  justify-content: space-between

.action-bar__button
  width: 2em
  height: 2em
  cursor: pointer
  background: none
  border: none
  font-size: 1em

.action-bar-owner
  position: relative
  margin: -0em -0.5em
  padding: 0em 0.5em

  .action-bar
    display: none
    position: absolute
    right: 0
    z-index: 1
    background-color: #f6f6f6

    @media screen and ( min-width: 475px )
      &
        top: 0
        right: -4em
        background-color: transparent

  @mixin action-bar-owner-interaction
    background-color: #f6f6f6

    .action-bar
      display: flex
      pointer-events: auto

  // Non-iPhone only
  // On desktop, show the .action-bar on hover or focus within .menu-item
  @supports not (-webkit-touch-callout: none)
    &:focus-within, &:hover
      @include action-bar-owner-interaction

  // iPhone only
  // On iPhone, don't rely on hover, because, once you move a .menu-item to a new position,
  // the "hover point" stays on the old position, and the .action-bar would appear there instead.
  // The workaround is to show the .action-bar when the focus is within the .menu-item
  @supports (-webkit-touch-callout: none)
    &:focus-within
      @include action-bar-owner-interaction

.menu-item__form
  display: grid
  grid-template-columns: auto 1fr

.menu-item__name
  font-size: 1.5em
  width: 100%

.menu-item__price
  font-size: 1.5em
  text-align: right
  width: 100%

.menu-item__description
  font-size: 1em

.disguised-form-field
  background: none
  border: none
  margin: 0
  padding: 0
  outline: none

  &::placeholder
    color: #000000
    opacity: 30%

  // Remove Arrows/Spinners - https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
  &[type=number]
    -moz-appearance: textfield

.sortable-handle
  cursor: grab

.sortable-chosen
  .sortable-handle
    cursor: grabbing
