*
  padding: 0
  margin: 0
  box-sizing: border-box
  font-family: 'Bebas Neue', sans-serif

turbo-frame
  display: block

.main-content
  max-width: 320px
  margin: 0 auto
  padding: 0 1em
  background-color: white

.lite-input
  background: none
  border: none
  margin: 0
  padding: 0
  outline: none

  &::placeholder
    color: lightgray

  // Remove Arrows/Spinners - https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
  &[type=number]
    -moz-appearance: textfield

.large-text
  font-size: 3em

.medium-text
  font-size: 2.25em

.small-text
  font-size: 1.5em

.hack-mobile-safari-focus
  position: fixed
  opacity: 0
  height: 0
  font-size: 16px // disable auto zoom

.notice-bar
  padding: 0.5em 1em
  display: flex
  gap: 1em
  align-items: center
  justify-content: space-between
  background-color: yellow

a, button
  color: black
  text-decoration: none
  &:hover
    text-decoration: underline

.button
  font-size: 1.5em
  font-weight: normal
  display: block
  background: white
  color: black
  border: none
  color: lightgray
  cursor: pointer

.button.large
  font-size: 2.25em

.button:hover
  text-decoration: underline

ul
  list-style-type: none

li
  margin: 0.5rem 0
