*
  font-family: 'Bebas Neue', sans-serif

turbo-frame
  display: block

.main-content
  max-width: 320px
  margin: 0 auto
  padding: 0 1em
  background-color: white

.hack-mobile-safari-focus
  position: fixed
  opacity: 0
  height: 0
  font-size: 16px // disable auto zoom

.material-symbols-sharp
  font-size: inherit
  vertical-align: middle
