<% if notice.present? || alert.present? %>
  <div class="notices" data-controller="closable">
    <div>
      <%= tag.p notice.html_safe if notice.present? %>
      <%= tag.p alert.html_safe if alert.present? %>
    </div>
    <button data-action="click->closable#handleCloseButtonClick">
      <span class="material-symbols-sharp">close</div>
    </button>
  </div>
<% end %>
