.menu.minimalist

  *
    font-family: 'Bebas Neue', sans-serif

  .menu-name
    font-size: 3em
    width: 100%

  .menu-section-name
    font-size: 2.25em
    width: 100%

  .menu-item-form
    display: grid
    grid-template-columns: auto 1fr

  .menu-item-name
    font-size: 1.5em
    width: 100%

  .menu-item-price
    font-size: 1.5em
    text-align: right
    width: 100%

  .indistinct-input::placeholder
    color: gray
